/*.cover {*/
/*    width: 100%;*/
/*    height: 75vh;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center center;*/
/*    position: relative;*/
/*}*/
/*.cover .details {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/
/*.cover .details h1 {*/
/*    font-size: 5rem;*/
/*    font-weight: 700;*/
/*    text-shadow: 3px 3px 4px black;*/
/*}*/
/*.cover .details h3 {*/
/*    text-shadow: 3px 3px 4px black;*/
/*    font-size: 3rem;*/
/*}*/
/*.cover .details span i{*/
/*    color: var(--special-color)*/
/*}*/

/*.tags .tag {*/
/*    background-color: var(--sec-background-color);*/
/*}*/

/*.container {*/
/*    background-color: var(--sec-background-color);*/
/*}*/
#movie img {
    height: 450px;
    width: 300px;
}

.movietitle{
    font-weight: 700;
}
.v-dash {
    color: #f5c518;
}

.actor-image{
    height: 190px;
    width: 160px;
}

.actor-name{
    font-weight: bold;
}

.cast-title{
    font-weight: 700;
}

.see-more h4{
    font-weight: 700;
    color: yellow;
}

.see-more-h5 {
    font-weight: 700;
    /*color: black;*/
    font-size: 12px;
}

.see-more-link {
    text-decoration: none !important;
}


.review-star {
    color: #f5c518;
}