.cover {
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.cover .details {
    position: absolute;
    bottom: 0;
}
.cover .details h1 {
    font-weight: 700;
}

.cover .details span i{
    color: var(--special-color)
}

.tags .tag {
    background-color: var(--sec-background-color);
}

.container {
    background-color: var(--sec-background-color);
}