
#movie img {
    height: 450px;
    width: 300px;
}

.movietitle{
    font-weight: 700;
}
.v-dash {
    color: #f5c518;
}

.actor-image{
    height: 190px;
    width: 160px;
}

.actor-name{
    font-weight: bold;
}

.cast-title{
    font-weight: 700;
}

.see-more h4{
    font-weight: 700;
    color: yellow;
}

.see-more-h5 {
    font-weight: 700;
    /*color: black;*/
    font-size: 12px;
}

.see-more-link {
    text-decoration: none !important;
}


.review-star {
    color: #f5c518;
}